<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>


 <!-- body -->
<body>
    <div class="container">
        <form [formGroup]="registerForm" (ngSubmit)="registerSubmitted()">
            <h1>Registration Form</h1>
            <!-- First Name -->
            <div class="row">
                <div class="col mb-3"><label for="firstname">First Name :</label></div>
                <div class="col mb-3"><input type="text" formControlName="firstname" id="firstname" >
                <span *ngIf="registerForm.get('firstname')?.errors?.['required'] && registerForm.get('firstname')?.touched">
                    First name is required.
                </span>
                </div> 
            </div>
            <!-- Last Name -->
            <div class="row">
                <div class="col mb-3"><label for="lastname">Last Name :</label></div>
                <div class="col mb-3"><input type="text" formControlName="lastname" id="lastname">
                    <span *ngIf="registerForm.get('lastname')?.errors?.['required'] && registerForm.get('lastname')?.touched">
                        Last name is required.
                    </span>
                </div>
            </div>
        
            <!-- Mobile Number -->
            <div class="row">
                <div class="col mb-3"><label for="mobile">Mobile No :</label></div>
                <div class="col mb-3"><input type="number" formControlName="mobile" id="mob">
                <span  *ngIf="registerForm.get('mobile')?.errors?.['required'] && registerForm.get('mobile')?.touched">
                    Mobile number is required.
                    </span>
                    <span *ngIf="registerForm.get('mobile')?.errors?.['pattern'] && registerForm.get('mobile')?.touched">
                    Mobile number must be 10 digits
                    </span> 
                </div>              
            </div>
        
            <!-- Email -->
            <div class="row">
                <div class="col mb-3"><label for="email">Email :</label></div>
                <div class="col mb-3"><input type="text"  formControlName="email" id="email">
                <span *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched">
                    Email is required.
                </span>
                <span *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched">
                    Invalid email format.
                </span>
            </div>
            </div>
        
              <!-- Gender -->
              <div class="row">
                <div class="col"><label>Gender :</label></div>
                <div class="col mb-3">
                    <label><input type="radio" formControlName="gender" value="Male"class="form-check-inline"> Male</label> 
                    <label><input type="radio" formControlName="gender" value="Female" class="form-check-inline"> Female</label>
                    <span *ngIf="registerForm.get('gender')?.errors?.['required'] && registerForm.get('gender')?.touched">
                        Gender is required.
                    </span>
                </div>
            </div>
        
            
   <!-- Country, State, City -->
   <div class="row">
    <div class="col mb-3"><label for="country">Country</label>
    </div>
    <div class="col mb-3">
        
        <select id="country" formControlName="country" [(ngModel)]="selectedCountry.name" (change)="onSelectCountry($event.target)" >
            <option value="0" >Select a country</option>
            <option *ngFor="let country of countries?.countries" [value]="country.name">{{country.name}}</option>
            <!-- Add more options as needed -->
          </select>
          <span *ngIf="registerForm.get('country')?.errors?.['required'] && registerForm.get('country')?.touched">
            Country is required.
        </span>
    </div>
    
  </div>
  <div class="row">
    <div class="col mb-3"><label for="state">State</label></div>
    <div class="col mb-3">
        
        <select id="state" formControlName="state" [(ngModel)]="selectedState.name" (change)="onSelectState($event.target)" >
            <option value="0" >Select a State</option>
            <option *ngFor="let state of states" [value]="state.name">{{state.name}}</option>
           <!-- Add more options as needed -->           
          </select>
    </div>
    <span *ngIf="registerForm.get('state')?.errors?.['required'] && registerForm.get('state')?.touched">
        state is required.
    </span>
    </div>

  <div class="row">
    <div class="col mb-3"><label for="city">City</label></div>
    <div class="col mb-3">
        
        <select id="city" formControlName="city">
            <option value="" disabled>Select a city</option>
            <option  *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
             <!-- Add more options as needed -->
                 </select>
    </div>
    <span *ngIf="registerForm.get('city')?.errors?.['required'] && registerForm.get('city')?.touched">
        City is required.
    </span>
  </div>
   

       
            <!-- Submit Button -->
            <div class="row">
                <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid" id="btn"
                (click)="postdetails()">Submit</button>
            </div>
        </form>
    </div>
    
    
</body>
</html>







