
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="../../../assets/images/bookclub1.jpg"   width="500" height="350">

        </div>

        <div class="col-lg-6">
            <img src="../../../assets/images/bookclub22.jpg"   width="500" height="350">

        </div>

    </div>
    <p></p> <p></p> <p></p> <p></p>

    <div class="row">
        <div class="col-lg-6">
            <img src="../../../assets/images/bookclub2.jpg"   width="500" height="350">

        </div>

        <div class="col-lg-6">
            <img src="../../../assets/images/bookclub11.JPG"   width="500" height="350">

        </div>

    </div>


    

</div>
