<div class="container">
  <form>
  <div profileForm (ngSubmit)="onSubmit()" >

      <h1>Messages</h1>

  <p>Please fill the form below and send us a message and we will get back to you.</p>

      <p><label for="message">First Name: </label>
          <input class="form-control" type="text"></p>

          <p><label for="message">Last Name: </label>
          <input class="form-control" type="text"></p>
          

          <p><label for="message">Title of Message: </label>
              <input class="form-control" type="text"></p>
          
              <div class="form-group">
                  <p><label for="exampleFormControlTextarea1"><h3>Your Message:</h3></label></p>
                  <textarea class="form-control form-control-lg" id="exampleFormControlTextarea1" rows="10x7%"></textarea>
                </div>
              
          
          <p><label for="exampleFormControlTextarea1">New Updated Post (Optional):</label></p>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5%"></textarea>
  </div> 

  <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1">intrested</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">not intrested</label>
    </div>

  <br><button type="submit" class="btn btn-primary mb-2">Update Post</button>


  <div class="col-auto">
    <p><br><button type="submit" class="btn btn-primary mb-2">SEND</button></p>
    </div>
  </form>

</div>  