
<div class="container">


    <div id="addclubId"><a class="btn btn-primary btn-sm" (click)="AddclubRedirect()">Add new club</a></div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Author</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of clubs">
          <th scope="row">{{b.bookname}}</th>
          <td hidden>{{b._id}}</td>
          <td>{{b.description}}</td>
          <td>{{b.email}}</td>
          <td>
        
          <a  class="btn btn-success btn-sm"  ><i  id="selectionid" (click)="ShowClubdetails(b.bookClubId,b.name)">Details</i></a>
        </td>
        </tr>
       
      </tbody>
    </table>
    
    </div>
    