
<div class="container">


    <div id="addclubId"><a class="btn btn-primary btn-sm" (click)="AddclubRedirect()">Add new club</a></div>

    <p> Click on a desired bookclub for more options</p>

    <div class="clubs">
      <div class="clubs" *ngFor="let b of clubs">
          <div class="club-item" (click) ="ShowClubdetails(b._id)">
              <p><i class="inforce">Book: </i>{{b.bookname}}</p>
              <p><i class="inforce">Club description:</i>{{b.description}}</p>
              <p><i class="inforce">Author: </i>{{b.author}}</p>
              <p><i class="inforce">Create Date: </i>{{b.createdate}}</p>
          </div>
          <div class="spacer"></div>
      </div>
  </div>    
    </div>
    