tr:hover {
    background: lightgray;
    /*-webkit-transition: background 2s;
    transition: background 2s; 
    font-size: 12px;*/
	}

    .spacer{
        border-bottom: 5px solid black
    }

    .clubs{
        background: lightgray;
        padding: 5px;
        margin-top: 5px;
    }
    .club-item {
    height: fit-content;
    }
   


    .club-item:hover{
        background: rgb(126, 123, 123);
    }
    .inforce{
        font-weight: bold;
    }

    #button-edit{
        margin-left: 85%;
        font-weight: bold;
        font-size: 15px;
    }

    #button-delete{
        font-weight: bold;
        font-size: 15px;
    }